Binaries
DerivedDataCache
Intermediate
Saved
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.ipch
*.db-shm
*.db-wal
*.ipch
.vs/GitTestProject/v15/ipch/AutoPCH/GITTESTPROJECT-88a2aada/CAMERABASE-3af493aa/CAMERABASE.ipch
*.ipch
*.ipch
*.db-wal
*.db-shm
*.ini
Config/DefaultInput.ini
*.db-wal
*.db-shm
*.ini
Content/Levels/TestLevel.umap
Source/GitTestProject/Player/CameraBase.cpp
Source/GitTestProject/Player/CameraBase.h
